// Miryoku-style layout for Kodama keyboard
// Based on https://github.com/manna-harbour/miryoku_zmk

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

// Layer definitions
#define BASE   0
#define NAV    1
#define MOUSE  2
#define MEDIA  3
#define NUM    4
#define SYM    5
#define FUN    6

// Clipboard shortcuts (Mac)
#define U_RDO &kp LS(LG(Z))
#define U_PST &kp LG(V)
#define U_CPY &kp LG(C)
#define U_CUT &kp LG(X)
#define U_UND &kp LG(Z)

#define U_TAPPING_TERM 200

// Mouse keys
#define U_BTN1 &mkp LCLK
#define U_BTN2 &mkp RCLK
#define U_BTN3 &mkp MCLK
#define U_MS_U &mmv MOVE_UP
#define U_MS_D &mmv MOVE_DOWN
#define U_MS_L &mmv MOVE_LEFT
#define U_MS_R &mmv MOVE_RIGHT
#define U_WH_U &msc SCRL_UP
#define U_WH_D &msc SCRL_DOWN
#define U_WH_L &msc SCRL_LEFT
#define U_WH_R &msc SCRL_RIGHT

&caps_word {
    continue-list = <UNDERSCORE MINUS>;
};

/ {
    behaviors {
        u_mt: u_mt {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <U_TAPPING_TERM>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
        u_lt: u_lt {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <U_TAPPING_TERM>;
            flavor = "tap-preferred";
            bindings = <&mo>, <&kp>;
        };
    };

    macros {
        u_bt_sel_0: u_bt_sel_0 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 0 &bt BT_CLR>;
        };
        u_bt_sel_1: u_bt_sel_1 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 1 &bt BT_CLR>;
        };
        u_bt_sel_2: u_bt_sel_2 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 2 &bt BT_CLR>;
        };
        u_bt_sel_3: u_bt_sel_3 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 3 &bt BT_CLR>;
        };
    };

    behaviors {
        u_bt_0: u_bt_0 {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 0>, <&u_bt_sel_0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        u_bt_1: u_bt_1 {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 1>, <&u_bt_sel_1>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        u_bt_2: u_bt_2 {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 2>, <&u_bt_sel_2>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        u_bt_3: u_bt_3 {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 3>, <&u_bt_sel_3>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        // Base layer (QWERTY)
        // ╭─────────┬─────────┬─────────┬─────────┬─────────╮   ╭─────────┬─────────┬─────────┬─────────┬─────────╮
        // │    Q    │    W    │    E    │    R    │    T    │   │    Y    │    U    │    I    │    O    │    P    │
        // ├─────────┼─────────┼─────────┼─────────┼─────────┤   ├─────────┼─────────┼─────────┼─────────┼─────────┤
        // │ GUI/A   │ ALT/S   │ CTRL/D  │ SHFT/F  │    G    │   │    H    │ SHFT/J  │ CTRL/K  │ ALT/L   │ GUI/'   │
        // ├─────────┼─────────┼─────────┼─────────┼─────────┤   ├─────────┼─────────┼─────────┼─────────┼─────────┤
        // │    Z    │ RALT/X  │    C    │    V    │    B    │   │    N    │    M    │    ,    │ RALT/.  │    /    │
        // ╰─────────┴─────────┼─────────┼─────────┼─────────┤   ├─────────┼─────────┼─────────┼─────────┴─────────╯
        //                     │MEDIA/ESC│ NAV/SPC │MOUSE/TAB│   │ SYM/RET │NUM/BSPC │ FUN/DEL │
        //                     ╰─────────┴─────────┴─────────╯   ╰─────────┴─────────┴─────────╯
        base_layer {
            label = "Base";
            bindings = <
                &kp Q          &kp W          &kp E          &kp R          &kp T              &kp Y          &kp U          &kp I          &kp O          &kp P
                &u_mt LGUI A   &u_mt LALT S   &u_mt LCTRL D  &u_mt LSHFT F  &kp G              &kp H          &u_mt LSHFT J  &u_mt LCTRL K  &u_mt LALT L   &u_mt LGUI SQT
                &kp Z          &u_mt RALT X   &kp C          &kp V          &kp B              &kp N          &kp M          &kp COMMA      &u_mt RALT DOT &kp SLASH
                                              &u_lt MEDIA ESC &u_lt NAV SPACE &u_lt MOUSE TAB  &u_lt SYM RET  &u_lt NUM BSPC &u_lt FUN DEL
            >;
        };

        // Navigation layer
        // ╭─────────┬─────────┬─────────┬─────────┬─────────╮   ╭─────────┬─────────┬─────────┬─────────┬─────────╮
        // │  BOOT   │         │         │         │         │   │  Redo   │  Paste  │  Copy   │   Cut   │  Undo   │
        // ├─────────┼─────────┼─────────┼─────────┼─────────┤   ├─────────┼─────────┼─────────┼─────────┼─────────┤
        // │   GUI   │   ALT   │  CTRL   │  SHIFT  │         │   │CapsWord │  Left   │  Down   │   Up    │  Right  │
        // ├─────────┼─────────┼─────────┼─────────┼─────────┤   ├─────────┼─────────┼─────────┼─────────┼─────────┤
        // │         │  RALT   │         │         │         │   │  Insert │  Home   │  PgDn   │  PgUp   │   End   │
        // ╰─────────┴─────────┼─────────┼─────────┼─────────┤   ├─────────┼─────────┼─────────┼─────────┴─────────╯
        //                     │         │         │         │   │  Enter  │  Bspc   │   Del   │
        //                     ╰─────────┴─────────┴─────────╯   ╰─────────┴─────────┴─────────╯
        nav_layer {
            label = "Nav";
            bindings = <
                &bootloader    &none          &none          &none          &none              U_RDO          U_PST          U_CPY          U_CUT          U_UND
                &kp LGUI       &kp LALT       &kp LCTRL      &kp LSHFT      &none              &caps_word     &kp LEFT       &kp DOWN       &kp UP         &kp RIGHT
                &none          &kp RALT       &none          &none          &none              &kp INS        &kp HOME       &kp PG_DN      &kp PG_UP      &kp END
                                              &none          &none          &none              &kp RET        &kp BSPC       &kp DEL
            >;
        };

        // Mouse layer
        // ╭─────────┬─────────┬─────────┬─────────┬─────────╮   ╭─────────┬─────────┬─────────┬─────────┬─────────╮
        // │  BOOT   │         │         │         │         │   │  Redo   │  Paste  │  Copy   │   Cut   │  Undo   │
        // ├─────────┼─────────┼─────────┼─────────┼─────────┤   ├─────────┼─────────┼─────────┼─────────┼─────────┤
        // │   GUI   │   ALT   │  CTRL   │  SHIFT  │         │   │         │  MS_L   │  MS_D   │  MS_U   │  MS_R   │
        // ├─────────┼─────────┼─────────┼─────────┼─────────┤   ├─────────┼─────────┼─────────┼─────────┼─────────┤
        // │         │  RALT   │         │         │         │   │         │  WH_L   │  WH_D   │  WH_U   │  WH_R   │
        // ╰─────────┴─────────┼─────────┼─────────┼─────────┤   ├─────────┼─────────┼─────────┼─────────┴─────────╯
        //                     │         │         │         │   │  Btn2   │  Btn1   │  Btn3   │
        //                     ╰─────────┴─────────┴─────────╯   ╰─────────┴─────────┴─────────╯
        mouse_layer {
            label = "Mouse";
            bindings = <
                &bootloader    &none          &none          &none          &none              U_RDO          U_PST          U_CPY          U_CUT          U_UND
                &kp LGUI       &kp LALT       &kp LCTRL      &kp LSHFT      &none              &none          U_MS_L         U_MS_D         U_MS_U         U_MS_R
                &none          &kp RALT       &none          &none          &none              &none          U_WH_L         U_WH_D         U_WH_U         U_WH_R
                                              &none          &none          &none              U_BTN2         U_BTN1         U_BTN3
            >;
        };

        // Media layer
        // ╭─────────┬─────────┬─────────┬─────────┬─────────╮   ╭─────────┬─────────┬─────────┬─────────┬─────────╮
        // │  BOOT   │         │         │         │         │   │         │         │         │         │         │
        // ├─────────┼─────────┼─────────┼─────────┼─────────┤   ├─────────┼─────────┼─────────┼─────────┼─────────┤
        // │   GUI   │   ALT   │  CTRL   │  SHIFT  │         │   │         │  Prev   │  VolDn  │  VolUp  │  Next   │
        // ├─────────┼─────────┼─────────┼─────────┼─────────┤   ├─────────┼─────────┼─────────┼─────────┼─────────┤
        // │         │  RALT   │         │         │         │   │ OUT_TOG │ BT0/CLR │ BT1/CLR │ BT2/CLR │ BT3/CLR │
        // ╰─────────┴─────────┼─────────┼─────────┼─────────┤   ├─────────┼─────────┼─────────┼─────────┴─────────╯
        //                     │         │         │         │   │  Stop   │  Play   │  Mute   │
        //                     ╰─────────┴─────────┴─────────╯   ╰─────────┴─────────┴─────────╯
        media_layer {
            label = "Media";
            bindings = <
                &bootloader    &none          &none          &none          &none              &none          &none          &none          &none          &none
                &kp LGUI       &kp LALT       &kp LCTRL      &kp LSHFT      &none              &none          &kp C_PREV     &kp C_VOL_DN   &kp C_VOL_UP   &kp C_NEXT
                &none          &kp RALT       &none          &none          &none              &out OUT_TOG   &u_bt_0        &u_bt_1        &u_bt_2        &u_bt_3
                                              &none          &none          &none              &kp C_STOP     &kp C_PP       &kp C_MUTE
            >;
        };

        // Number layer
        // ╭─────────┬─────────┬─────────┬─────────┬─────────╮   ╭─────────┬─────────┬─────────┬─────────┬─────────╮
        // │    [    │    7    │    8    │    9    │    ]    │   │         │         │         │         │  BOOT   │
        // ├─────────┼─────────┼─────────┼─────────┼─────────┤   ├─────────┼─────────┼─────────┼─────────┼─────────┤
        // │    ;    │    4    │    5    │    6    │    =    │   │         │  SHIFT  │  CTRL   │   ALT   │   GUI   │
        // ├─────────┼─────────┼─────────┼─────────┼─────────┤   ├─────────┼─────────┼─────────┼─────────┼─────────┤
        // │    `    │    1    │    2    │    3    │    \    │   │         │         │         │  RALT   │         │
        // ╰─────────┴─────────┼─────────┼─────────┼─────────┤   ├─────────┼─────────┼─────────┼─────────┴─────────╯
        //                     │    .    │    0    │    -    │   │         │         │         │
        //                     ╰─────────┴─────────┴─────────╯   ╰─────────┴─────────┴─────────╯
        num_layer {
            label = "Num";
            bindings = <
                &kp LBKT       &kp N7         &kp N8         &kp N9         &kp RBKT           &none          &none          &none          &none          &bootloader
                &kp SEMI       &kp N4         &kp N5         &kp N6         &kp EQUAL          &none          &kp LSHFT      &kp LCTRL      &kp LALT       &kp LGUI
                &kp GRAVE      &kp N1         &kp N2         &kp N3         &kp BSLH           &none          &none          &none          &kp RALT       &none
                                              &kp DOT        &kp N0         &kp MINUS          &none          &none          &none
            >;
        };

        // Symbol layer
        // ╭─────────┬─────────┬─────────┬─────────┬─────────╮   ╭─────────┬─────────┬─────────┬─────────┬─────────╮
        // │    {    │    &    │    *    │    (    │    }    │   │         │         │         │         │  BOOT   │
        // ├─────────┼─────────┼─────────┼─────────┼─────────┤   ├─────────┼─────────┼─────────┼─────────┼─────────┤
        // │    :    │    $    │    %    │    ^    │    +    │   │         │  SHIFT  │  CTRL   │   ALT   │   GUI   │
        // ├─────────┼─────────┼─────────┼─────────┼─────────┤   ├─────────┼─────────┼─────────┼─────────┼─────────┤
        // │    ~    │    !    │    @    │    #    │    |    │   │         │         │         │  RALT   │         │
        // ╰─────────┴─────────┼─────────┼─────────┼─────────┤   ├─────────┼─────────┼─────────┼─────────┴─────────╯
        //                     │    (    │    )    │    _    │   │         │         │         │
        //                     ╰─────────┴─────────┴─────────╯   ╰─────────┴─────────┴─────────╯
        sym_layer {
            label = "Sym";
            bindings = <
                &kp LBRC       &kp AMPS       &kp ASTRK      &kp LPAR       &kp RBRC           &none          &none          &none          &none          &bootloader
                &kp COLON      &kp DLLR       &kp PRCNT      &kp CARET      &kp PLUS           &none          &kp LSHFT      &kp LCTRL      &kp LALT       &kp LGUI
                &kp TILDE      &kp EXCL       &kp AT         &kp HASH       &kp PIPE           &none          &none          &none          &kp RALT       &none
                                              &kp LPAR       &kp RPAR       &kp UNDER          &none          &none          &none
            >;
        };

        // Function layer
        // ╭─────────┬─────────┬─────────┬─────────┬─────────╮   ╭─────────┬─────────┬─────────┬─────────┬─────────╮
        // │   F12   │   F7    │   F8    │   F9    │  PrtSc  │   │         │         │         │         │  BOOT   │
        // ├─────────┼─────────┼─────────┼─────────┼─────────┤   ├─────────┼─────────┼─────────┼─────────┼─────────┤
        // │   F11   │   F4    │   F5    │   F6    │  ScrLk  │   │         │  SHIFT  │  CTRL   │   ALT   │   GUI   │
        // ├─────────┼─────────┼─────────┼─────────┼─────────┤   ├─────────┼─────────┼─────────┼─────────┼─────────┤
        // │   F10   │   F1    │   F2    │   F3    │  Pause  │   │         │         │         │  RALT   │         │
        // ╰─────────┴─────────┼─────────┼─────────┼─────────┤   ├─────────┼─────────┼─────────┼─────────┴─────────╯
        //                     │   App   │  Space  │   Tab   │   │         │         │         │
        //                     ╰─────────┴─────────┴─────────╯   ╰─────────┴─────────┴─────────╯
        fun_layer {
            label = "Fun";
            bindings = <
                &kp F12        &kp F7         &kp F8         &kp F9         &kp PSCRN          &none          &none          &none          &none          &bootloader
                &kp F11        &kp F4         &kp F5         &kp F6         &kp SLCK           &none          &kp LSHFT      &kp LCTRL      &kp LALT       &kp LGUI
                &kp F10        &kp F1         &kp F2         &kp F3         &kp PAUSE_BREAK    &none          &none          &none          &kp RALT       &none
                                              &kp K_APP      &kp SPACE      &kp TAB            &none          &none          &none
            >;
        };
    };
};
